<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>244307294958-mm07e86269vaqhug86v3piot5ndt2va9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244307294958-mm07e86269vaqhug86v3piot5ndt2va9</string>
	<key>API_KEY</key>
	<string>AIzaSyCAN84c4HZhBUyy6nV8OjuXguwAourPN7A</string>
	<key>GCM_SENDER_ID</key>
	<string>244307294958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.the-blue-alliance.zach-dev</string>
	<key>PROJECT_ID</key>
	<string>zach-tba-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>zach-tba-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244307294958:ios:58cf1a6d9b13e4d6</string>
	<key>DATABASE_URL</key>
	<string>https://zach-tba-dev.firebaseio.com</string>
</dict>
</plist>